@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

$azul-oscuro: #001B44;
$blanco: #ffffff;
$fuente-principal: 'Lato', sans-serif;
$color-fondo-footer: #333;
$color-texto-footer: #fff;
$padding-footer: 20px;

header {
  background: linear-gradient(to bottom, $azul-oscuro, $blanco);
  color: $blanco;
  padding: 20px;
  text-align: center;
  position: fixed;  // Fija el encabezado en la parte superior de la ventana
  width: 100%;      // Ancho completo
  top: 0;           // Se mantiene en la parte superior
  z-index: 1000;    // Asegura que esté por encima de otros elementos
}

main {
  margin-top: 80px; // Ajusta según sea necesario
}

 h1 {
    margin: 0;
    font-family: $fuente-principal;
    font-size: 28px; // Ajusta según sea necesario
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 20px; // Ajusta según sea necesario

        a {
          text-decoration: none;
          color: $blanco;
          font-family: $fuente-principal;

          &:hover {
            border-bottom: 2px solid $blanco; // Efecto al pasar el ratón
          }
        }
      }
    }
  }

    @media (max-width: 768px) {
    h1 {
      font-size: 24px; // Ajusta el tamaño de la fuente para pantallas más pequeñas
    }

    nav {
      ul {
        flex-direction: column; // Cambia la dirección de la flexbox para pantallas pequeñas
        align-items: center; // Centra los elementos en el eje vertical
      }

      li {
        display: block; // Cambia el display a bloque para que aparezcan en una línea en pantallas pequeñas
        margin-bottom: 10px; // Espacio entre los elementos
      }
    }
  }

  #introduccion {
  background-color: #f9f9f9; /* Color de fondo para resaltar la sección de introducción */
  padding: 30px;
  text-align: center;
}

#introduccion h2 {
  color: #001B44;
}

#introduccion p {
  color: #555;
  margin-top: 20px;
}

#inicio {
  background-color: #f2f2f2;
  padding: 30px;
}

#inicio h2 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #001B44;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#inicio article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.baldur {
  max-width: 100%;
  max-height: 220px; 
  margin-top: 10px; 
  border-radius: 5px;

}

.alan {
  max-width: 100%;
  max-height: 300px; 
  margin-top: 10px; 
  border-radius: 5px;
}

#inicio article h3 {
  color: #001B44;
}

#inicio article p {
  color: #555;
  text-align: left;
}

.p-alan{
  padding-top: 10px;

}

.p-baldur {
  padding-top: 10px;
}

/* Estilos para Xbox */
#xbox {
    background-color: #f2f2f2;
    padding: 30px;
}

#xbox h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #001B44;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#xbox p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

#xbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#xbox li {
    width: 48%; /* Ajusta según sea necesario para mostrar dos elementos en una fila */
    margin-bottom: 20px;
}

#xbox h3 {
    color: #001B44;
}

#xbox img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#xbox p {
    color: #555;
    text-align: justify;
}

/* Estilos para PlayStation */
#playstation {
    background-color: #f9f9f9;
    padding: 30px;
}

#playstation h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #001B44;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#playstation p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

#playstation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#playstation li {
    width: 48%; /* Ajusta según sea necesario para mostrar dos elementos en una fila */
    margin-bottom: 20px;
}

#playstation h3 {
    color: #001B44;
}

#playstation img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#playstation p {
    color: #555;
    text-align: justify;
}

/* Estilos para Nintendo */
#nintendo {
    background-color: #f2f2f2;
    padding: 30px;
}

#nintendo h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #001B44;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#nintendo p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

#nintendo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#nintendo li {
    width: 48%; /* Ajusta según sea necesario para mostrar dos elementos en una fila */
    margin-bottom: 20px;
}

#nintendo h3 {
    color: #001B44;
}

#nintendo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#nintendo p {
    color: #555;
    text-align: justify;
}


footer {
  background-color: $color-fondo-footer;
  color: $color-texto-footer;
  padding: $padding-footer;
  text-align: center;
}

/* Estilos para la sección de Xbox - Accesorios y Características */
#accesorios-x {
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 20px;
}

#accesorios-x h3 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #001B44;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#accesorios-x p {
  color: #555;
  text-align: justify;
  line-height: 1.6;
}

#accesorios-x a {
  color: #001B44;
  font-weight: bold;
}

#accesorios-x a:hover {
  text-decoration: underline;
}

#multimedia-x {
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 20px;
}

#multimedia-x h3 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #001B44;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#multimedia-x p {
  color: #555;
  text-align: justify;
  line-height: 1.6;
}

/* Estilos para el video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción de aspecto para videos 16:9 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#comunidad-x {
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 20px;
}

#comunidad-x h3 {
  text-align: center;
  color: #333;
  border-bottom: 2px solid #001B44;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#comunidad-x p {
  color: #555;
  text-align: justify;
  line-height: 1.6;
}

#comunidad-x a {
  color: #001B44;
  font-weight: bold;
}

#comunidad-x a:hover {
  text-decoration: underline;
}